.student {
  &__avatar {
    @include frame("square");
    @include frame("zoom");
    width: 55px;
    margin-right: 10px;
  }

  &__name {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    color: $primary;
  }

  &__point {
    margin-top: 4px;
  }
}

.lesson {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__frame {
    @include frame("rect", 66.66%);
    @include frame("zoom");
    border-radius: 4px 4px 0 0;
  }

  &__body {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid $border-color;
    border-top: 0;
    border-radius: 0 0 4px 4px;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: $primary;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color;
    margin-bottom: 10px;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    justify-content: space-between;
    align-items: baseline;

    & + & {
      margin-top: 4px;
    }

    a {
      text-decoration: underline;
      color: $secondary;

      &:hover {
        text-decoration: underline;
        color: $secondary;
      }
    }

    span:first-child {
      text-align: left;
    }

    a,
    span:nth-child(2) {
      margin-left: auto;
    }
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 14px;
    }

    &__info {
      font-size: 12px;
    }
  }
}

.news {
  &__frame {
    @include frame("rect", 66.66%);
    @include frame("zoom");
    width: 90px;
    margin-right: 12px;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    color: $primary;
    margin: 0;
  }
}
